html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary{display:block;}
audio,
canvas,
progress,
video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],
template{display:none;}
a{background-color:transparent;}
a:active,
a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;line-height:1.3;text-align:left;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,
select{text-transform:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,
th{padding:0;}
body,
button,
input,
select,
textarea{color:#404040;font-size:16px;font-size:1rem;line-height:1.7;}
h1,
h2,
h3,
h4,
h5,
h6{clear:both;}
p{margin-bottom:1.5em;}
dfn,
cite,
em,
i{font-style:italic;}
blockquote{margin:0 1.5em;}
address{margin:0 0 1.5em;}
pre{background:#eee;font-family:"Courier 10 Pitch", Courier, monospace;font-size:15px;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;}
code,
kbd,
tt,
var{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size:15px;font-size:0.9375rem;}
abbr,
acronym{border-bottom:1px dotted #666;cursor:help;}
mark,
ins{background:#fff9c0;text-decoration:none;}
big{font-size:125%;}
html{box-sizing:border-box;}
*,
*:before,
*:after{box-sizing:inherit;}
body{background:#fff;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
blockquote,
q{quotes:"" "";}
hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em;}
ul,
ol{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
ol{list-style:decimal;}
li > ul,
li > ol{margin-bottom:0;margin-left:1.5em;}
dt{font-weight:bold;}
dd{margin:0 1.5em 1.5em;}
img{height:auto;max-width:100%;}
table{margin:0 0 1.5em;width:100%;}
a{color:royalblue;}
a:visited{color:purple;}
a:hover,
a:focus,
a:active{color:midnightblue;}
a:focus{outline:thin dotted;}
a:hover,
a:active{outline:0;}
.main-navigation{clear:both;display:block;float:left;width:100%;}
.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0;}
.main-navigation li{float:left;position:relative;}
.main-navigation a{display:block;text-decoration:none;}
.main-navigation ul ul{box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999;}
.main-navigation ul ul ul{left:-999em;top:0;}
.main-navigation ul ul a{width:200px;}
.main-navigation ul ul li{}
.main-navigation li:hover > a,
.main-navigation li.focus > a{}
.main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a{}
.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus{}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul{left:auto;}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul{left:100%;}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a{}
.menu-toggle,
.main-navigation.toggled ul{display:block;}
@media screen and (min-width:37.5em){.menu-toggle{display:none;}
.main-navigation ul{display:block;}
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden;}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{float:left;width:50%;}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next{float:right;text-align:right;width:50%;}
.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
.alignleft{display:inline;float:left;margin-right:1.5em;}
.alignright{display:inline;float:right;margin-left:1.5em;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after{content:"";display:table;}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after{clear:both;}
.widget{margin:0 0 1.5em;}
.widget select{max-width:100%;}
.widget_search .search-submit{display:none;}
.sticky{display:block;}
.hentry{margin:0 0 1.5em;}
.byline,
.updated:not(.published){display:none;}
.single .byline,
.group-blog .byline{display:inline;}
.page-content,
.entry-content,
.entry-summary{margin:1.5em 0 0;}
.page-links{clear:both;margin:0 0 1.5em;}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title{display:none;}
.comment-content a{word-wrap:break-word;}
.bypostauthor{display:block;}
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer{display:none;}
.infinity-end.neverending .site-footer{display:block;}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
embed,
iframe,
object{max-width:100%;}
.wp-caption{margin-bottom:1.5em;max-width:100%;}
.wp-caption img[class*="wp-image-"]{display:block;margin:0 auto;}
.wp-caption-text{text-align:center;}
.wp-caption .wp-caption-text{margin:0.8075em 0;}
.gallery{margin-bottom:1.5em;}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%;}
.gallery-columns-2 .gallery-item{max-width:50%;}
.gallery-columns-3 .gallery-item{max-width:33.33%;}
.gallery-columns-4 .gallery-item{max-width:25%;}
.gallery-columns-5 .gallery-item{max-width:20%;}
.gallery-columns-6 .gallery-item{max-width:16.66%;}
.gallery-columns-7 .gallery-item{max-width:14.28%;}
.gallery-columns-8 .gallery-item{max-width:12.5%;}
.gallery-columns-9 .gallery-item{max-width:11.11%;}
.gallery-caption{display:block;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
@font-face{font-family:Tahoma Regular;src:url(fonts/PTSansNarrow.ttf);}
@font-face{font-family:Sans_Narrow_Bold;src:url(fonts/PTSansNarrowBold.ttf);}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
html{height:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display:block;}
body{font:12px/18px Arial, sans-serif;font-family:Tahoma Regular;width:100%;height:100%;}
.wrapper{min-height:100%;height:auto !important;height:100%;}
.header{height:150px;margin:0 auto;}
.middle{width:960px;padding:0 0 500px;position:relative;margin:0 auto;}
.middle:after{display:table;clear:both;content:'';}
.container{width:100%;float:left;overflow:hidden;}
.content{padding:0 270px 0 0;margin:0 auto;}
.content iframe{width:100% !important;}
.right-sidebar{float:right;width:250px;margin-left:-250px;position:relative;padding-bottom:15px;}
.footer{width:100%;min-width:960px;margin:-500px auto 0;height:500px;background:#878787;position:relative;}
.f_left{float:left;}
.f_right{float:right;}
.boreder_radius{border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:2px;}
.header_line1{width:960px;height:90px;background:#ffffff;margin:0 auto;}
.header_line2_menu{width:960px;height:60px;margin:0 auto;}
.logo{padding-top:30px;}
.logo img{cursor:pointer;}
.search_place{padding-top:37px;padding-left:50px;}
.search_input{font-style:italic;width:250px;padding-left:5px;}
.search_submit{width:37px;height:29px;cursor:pointer;margin-left:-42px;background:url('img/search.png') no-repeat;border:0px solid;}
.group_links{width:330px;height:50px;padding-top:40px;}
.first_group, .second_group{width:130px;height:37px;border-left:1px solid gray;}
.first_group a, .second_group a{display:block;padding-left:5px;color:#777777;font-family:Tahoma Regular;font-size:10pt;}
.first_group a:hover, .second_group a:hover{color:#009944;}
.first_menu{text-align:center;width:960px;height:60px;}
.header_line2{width:100%;min-width:960px;background:#009A42;}
.header_line2_menu ul{list-style:none;text-align:center;}
.header_line2_menu ul li{float:left;text-decoration:none;width:320px;}
.header_line2_menu ul li a{color:white;display:block;line-height:40px;padding:10px;text-decoration:underline;font-size:13pt;padding-left:20px;padding-right:20px;font-family:Tahoma Regular;}
.header_line2_menu ul li:hover{background:#ad3703;}
.header_line2_menu ul li a:hover{text-decoration:none;cursor:pointer;}
.footer_line1{width:960px;height:auto;padding-left:10px;padding-right:10px;margin:0 auto;}
.footer_line2{width:960px;height:auto;padding-left:10px;padding-right:10px;margin:0 auto;display:table;}
.footer_line1_content_name{width:960px;color:#FFF;padding-top:25px;font-family:Tahoma Regular;font-size:24pt;font-weight:bold;text-align:left;display:table;height:auto;padding-bottom:20px;}
.footer_line1_content{width:960px;height:auto;border-bottom:3px solid #BFBFBF;padding-top:30px;display:table;padding-bottom:20px;}
.link_shell{display:table;text-decoration:none;}
.link_shell:hover .materials_text a{color:green;text-decoration:underline;}
.footer_content_ln1{width:100%;height:auto;display:table;padding-bottom:40px;}
.footer_content_ln2{width:100%;height:auto;display:table;}
.vertical1_content_ln1, .vertical2_content_ln1, .vertical3_content_ln1{width:33%;height:auto;display:table;}
.vertical1_content_ln2, .vertical2_content_ln2, .vertical3_content_ln2{width:33%;height:auto;display:table;}
.footer_line2_blk1{color:white;padding-top:10px;}
.footer_line2_blk1 a{color:white;text-decoration:none;}
.footer_line2_blk1 a:hover{color:white;text-decoration:underline;}
.footer_line2_blk2{color:white;padding-top:10px;}
.footer_line2_blk2 a{color:white;text-decoration:none;}
.footer_line2_blk2 a:hover{color:white;text-decoration:underline;}
.footer_line1_header{color:white;font-family:Tahoma Regular;font-size:14pt;font-weight:bold;text-align:left;padding:3px;}
.footer_line1_links_blk{padding:5px;}
.footer_line1_links a{display:block;padding-left:5px;padding-bottom:10px;color:white;font-family:Tahoma Regular;font-size:10pt;text-align:left;text-decoration:none;border-left:1px solid #c3c3c3;}
.footer_line1_links a:last-child{padding-bottom:0px;}
.footer_line1_links a:hover{cursor:pointer;text-decoration:underline;}
.footer_line1_socials{width:auto;height:50px;padding:10px;border-bottom:1px solid white;}
.footer_line1_mails_blk{width:auto;height:60px;padding-top:10px;}
form.catalin{width:390px;margin:50px auto;overflow:hidden;padding:10px;background-color:#ccc;border-radius:8px;box-shadow:0 0 8px rgba(0,0,0,.3) inset;}
form.catalin input{float:left;border:none;padding:2px 10px 2px 4px;font:16px Arial, Helvetica, sans-serif;height:26px;width:306px;margin:0;-webkit-appearance:none;outline:none;box-shadow:0 0 1px rgba(0,0,0,.5);border-radius:3px 0 0 3px;}
form.catalin button{float:left;border:none;background-color:#778899;padding:0;margin:0;width:70px;height:30px;font:bold 12px/30px Arial, Helvetica, sans-serif;position:relative;cursor:pointer;text-shadow:1px 1px 1px rgba(255,255,255,.5);border-radius:0 3px 3px 0;text-transform:uppercase;text-align:center;}
form.catalin button:hover{background-color:#667788;}
form.catalin button:before{content:'';position:absolute;top:10px;left:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #778899;}
form.catalin button:hover:before{border-right-color:#667788;text-shadow:1px 1px 1px rgba(255,255,255,.6);}
form.catalin input::-webkit-input-placeholder{color:#999;font-weight:normal;font-style:italic;}
form.catalin input:-moz-placeholder{color:#999;font-weight:normal;font-style:italic;}
form.catalin input:-ms-input-placeholder{color:#999;font-weight:normal;font-style:italic;}
.youtube{width:95px;height:20px;padding-right:20px;background:url("img/youtube.png") no-repeat;cursor:pointer;}
.facebook{width:95px;height:20px;padding-right:20px;background:url("img/facebook.png") no-repeat;cursor:pointer;}
.vk{width:95px;height:20px;padding-right:10px;background:url("img/vk.png") no-repeat;cursor:pointer;}
.youtube:hover{width:95px;height:20px;padding-right:20px;background:url("img/youtube_active.png") no-repeat;cursor:pointer;}
.facebook:hover{width:95px;height:20px;padding-right:20px;background:url("img/facebook_active.png") no-repeat;cursor:pointer;}
.vk:hover{width:95px;height:20px;padding-right:10px;background:url("img/vk_active.png") no-repeat;cursor:pointer;}
.place_mail{width:auto;height:30px;padding-bottom:10px;}
.mail_img{width:20px;height:20px;background:url("img/ellipse1.png") no-repeat;}
.mail{color:white;font-size:10pt;font-family:Tahoma Regular;text-decoration:none;padding-left:5px;}
.mail a{color:white;}
.mail:hover{text-decoration:underline;cursor:pointer;}
.place_tel{width:auto;height:20px;}
.tel_img{width:20px;height:20px;background:url("img/ellipse2.png") no-repeat;}
.tel{color:white;font-size:10pt;font-family:Tahoma Regular;text-decoration:none;padding-left:5px;}
.catalog, .materials, .free_courses{width:auto;height:auto;}
.catalog_content, .materials_content, .free_courses_content{width:auto;height:auto;background:#f7f7f7;border-radius:5px;}
.catalog_content table{width:100%;}
.catalog_content tr td{padding:5px;color:#777777;font-family:Tahoma Regular;font-size:8pt;}
.tagcloud a{color:#777777;font-family:Tahoma Regular;font-size:11pt !important;display:block;text-decoration:none;padding:5px;padding-left:25px;}
.tagcloud a:hover{cursor:pointer;background:#ad3703;color:white;font-family:Tahoma Regular;font-size:11pt !important;display:block;padding:5px;padding-left:25px;}
.catalog_content tr{cursor:pointer;}
.catalog_content tr:hover{cursor:pointer;background:#aa3300;color:white;}
.catalog_content tr:hover td{color:white;}
.catalog_content1{width:auto;height:auto;background:#f7f7f7;border-radius:5px;}
.catalog_content1 table{width:100%;}
.catalog_content1 tr td{padding:5px;color:#777777;font-family:Tahoma Regular;font-size:8pt;}
.catalog_content1 tr{cursor:pointer;}
.catalog_content1 tr:hover{cursor:pointer;background:#009A42;color:white;}
.catalog_content1 tr:hover td{color:white;}
.catalog_header, .materials_header, .free_courses_header{display:table;width:100%;color:#007733;font-family:Tahoma Regular;font-size:20pt;padding-top:20px;padding-bottom:20px;text-align:center;}
.item_preview{height:80px;text-align:center;}
.item_preview1{width:220px;height:80px;background:url("img/preview2.png") no-repeat;}
.item_preview4{width:220px;height:80px;background:url("img/preview4.png") no-repeat;}
.item_preview_img1{width:220px;height:80px;background:url("img/preview1.png") no-repeat;}
.materials_item, .free_courses_item{width:auto;height:auto;padding:5px;cursor:pointer;}
.materials_item table,.free_courses_item table{width:auto;height:auto;}
.free_courses_item:hover a{color:green;text-decoration:underline;}
.materials_img,.free_courses_img{vertical-align:middle;padding:3px;}
.materials_img1,.play{width:22px;height:16px;background:url("img/play.png") no-repeat;}
.materials_text, .free_courses_text{padding:3px;}
.materials_text a,.free_courses_text a{color:#777777;text-decoration:none;}
.materials_text a:hover, .free_courses a:hover{color:#009944;text-decoration:underline;}
.sorting{width:700px;height:auto;padding:5px;}
.sorting a{color:#777777;text-decoration:none;font-family:Tahoma Regular;}
.sorting a:hover{color:#009944;text-decoration:underline;font-family:Tahoma Regular;}
.sorting p{color:#777777;text-decoration:none;font-family:Tahoma Regular;}
.sorting1,.sorting2{width:150px;height:15px;padding:5px;}
.sorting_button{width:115px;height:35px;background:url("img/apply.png") no-repeat;cursor:pointer;}
.sorting_button:hover{width:115px;height:35px;background:url("img/apply_hover.png") no-repeat;cursor:pointer;}
.sorting tr td{vertical-align:middle;}
.bread_crumbs tr td a{text-decoration:underline;}
.empty_place{width:700px;height:40px;}
.polygon_up{width:14px;height:5px;background:url("img/polygon_up.png") no-repeat;padding-bottom:2px;cursor:pointer;}
.polygon_down{width:14px;height:5px;background:url("img/polygon_down.png") no-repeat;padding-bottom:2px;cursor:pointer;}
.polygon_down:hover{width:14px;height:5px;background:url("img/polygon_up_hover.png") no-repeat;padding-bottom:2px;cursor:pointer;}
.polygon_up:hover{width:14px;height:5px;background:url("img/polygon_down_hover.png") no-repeat;padding-bottom:2px;cursor:pointer;}
.sorting_table a{text-decoration:underline;font-family:Tahoma Regular;}
.banner{width:700px;height:50px;padding:5px;}
.banner_img{width:700px;height:50px;background:url("img/banner.png") no-repeat;}
.item_content{width:700px;height:auto;padding:5px;}
.digits{width:700px;height:45px;padding:5px;text-align:center;}
.digits a{color:#777777;padding:3px;font-family:Tahoma;font-size:12pt;cursor:pointer;}
.digits a:hover{color:#000000;cursor:pointer;}
.digits span{font-family:Tahoma;font-size:12pt;}
.item_content_td1{vertical-align:middle;width:50%;text-align:center;}
.item_content_td1 a{display:table;}
.wp-pagenavi a, .wp-pagenavi span{border:0px solid gray !important;}
.wp-pagenavi a, .wp-pagenavi span{color:#777;padding:3px;font-family:Tahoma Regular;font-size:12pt;cursor:pointer;}
.item_content_td1_img1{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img2{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img3{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img4{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img5{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img6{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img7{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img8{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img9{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td1_img10{width:143px;height:140px;background:url("img/item_logo1.png") no-repeat;}
.item_content_td2{vertical-align:top;text-align:center;padding:5px;width:50%;}
.item_content_logo{width:230px;height:210px;}
.item_content_content{width:470px;height:210px;text-align:center;}
.item_content_logo a{cursor:pointer;}
.item_content_header{width:470px;height:auto;text-align:left;}
.item_content_text{width:470px;height:auto;}
.item_content_header a{color:#007733;text-decoration:none;cursor:pointer;font-family:Tahoma Regular;font-size:12pt;font-weight:bold;}
.item_content_header a:hover{color:#007733;text-decoration:underline;cursor:pointer;font-family:Tahoma Regular;font-size:12pt;font-weight:bold;}
.item_content_properties, .item_content_properties_ln1, .item_content_properties_ln2{width:auto;height:auto;}
.property{width:auto;height:auto;padding-left:15px;padding-right:15px;padding-bottom:5px;padding-top:5px;}
.propertys{width:auto;height:auto;font-family:Tahoma Regular;font-size:9pt;padding:5px;}
.property tr td{font-family:Tahoma Regular;font-size:9pt;}
.bold{font-weight:bold;font-size:11pt !important;}
.text_right{text-align:right;}
.text_left{text-align:left;}
.text_item{width:auto;height:auto;font-family:Tahoma Regular;font-size:9pt;text-align:justify;padding:5px;}
.form_podpis{padding:15px;display:table;}
.form_podpis_img{width:680px;height:120px;background:url("img/form_podpis.png") no-repeat;}
.form_podpis_text{display:table;color:#fff20f;font-size:20pt;padding:5px 5px 5px 1px;font-weight:bold;}
.email{height:32px;padding:3px;width:165px;}
.podpis_input_button{width:195px;height:32px;cursor:pointer;background:#fec310;color:#bc3a01;border:0px;}
.podpis_input_button:hover{width:195px;height:32px;cursor:pointer;background:#fec310;color:#9e3102;border:0px;font-weight:bold;}
.form_podpis_active_elem{padding:15px 20px 0px 0px;display:table;}
.notice-of-confidential-information{display:table;padding:5px 5px 0px;}
.search_input{height:40px;}
.form_podpis_active{width:auto;height:auto;}
.form_podpis_active_elem table tr td{vertical-align:middle;}
.form_podpis_active_elem table{margin-top:10px;}
.recommended{width:auto;height:216px;padding:15px 15px 0px 15px;}
.recommended_article, .recommended_video{width:100%;padding-bottom:15px;}
.recommended_article_header{height:25px;color:#000000;font-family:Tahoma Regular;font-size:auto;font-weight:bold;text-align:left;padding:3px;padding-right:20px;margin-bottom:15px;}
.recommended_article_links li{list-style:none;}
.place_social{display:table;width:100%;}
.recommended_article_header_text{font-size:16pt;}
.recommended_article_links a{display:block;padding:5px;color:#000000;font-family:Tahoma Regular;font-size:12pt;text-align:left;text-decoration:none;}
.recommended_article_links a:last-child{padding-bottom:0px;}
.recommended_article_links a:hover{cursor:pointer;text-decoration:underline;color:green;}
.recommended_article_header_img{width:17px;height:22px;background:url("img/notes.png") no-repeat;padding:2px;padding-right:20px;}
.recommended_video_header{height:25px;color:#000000;font-family:Tahoma Regular;font-size:auto;font-weight:bold;text-align:left;padding:3px;padding-right:20px;}
.recommended_video_links a{display:block;padding-left:5px;padding-bottom:10px;color:#000000;font-family:Tahoma Regular;font-size:9pt;text-align:left;text-decoration:none;border-left:1px solid #c3c3c3;}
.recommended_video_links a:last-child{padding-bottom:0px;}
.recommended_video_links a:hover{cursor:pointer;text-decoration:underline;color:green;}
.recommended_video_header_img{width:22px;height:16px;background:url("img/play.png") no-repeat;padding:3px;padding-right:25px;}
.podpis_input_text{width:170px;height:35px;padding:4px;border-radius:5px;}
.sorting_table tr td a:hover{color:black;}
.place_vk_comments{width:auto;padding:20px;}
.place_vk_com{width:330px;padding:10px;}
.vk_comments1{width:310px;height:310px;background:url("img/vk_comments1.png") no-repeat;}
.vk_comments2{width:310px;height:310px;background:url("img/vk_comments2.png") no-repeat;}
.article{width:auto;height:auto;padding:10px;}
.place_names_article{width:auto;padding:5px;display:table;}
.names_article{width:auto;height:40px;padding:10px;}
.prev_next_articles{width:auto;height:40px;text-decoration:none;}
.name_article{color:#777777;text-decoration:underline;font-family:Tahoma Regular;font-size:11pt;}
.space_article{color:#777777;text-decoration:none;font-family:Tahoma Regular;font-size:11pt;}
.name_article a{color:#777777;text-decoration:underline;font-family:Tahoma Regular;font-size:11pt;}
.name_article a:hover{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:11pt;}
.prev_next_articles{width:auto;height:40px;padding:10px;}
.prev_article{width:auto;height:40px;}
.prev_article a{color:#777777;text-decoration:underline;font-family:Tahoma Regular;font-size:11pt;}
.prev_article a:hover{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:11pt;}
.place_banner_big{width:700px;height:200px;padding:5px;}
.place_banner_big a{cursor:pointer;}
.banner_big{width:700px;height:200px;background:url("img/banner_big.png") no-repeat;}
h1{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:26pt;font-weight:bold;padding:5px;line-height:1.3;text-align:left;}
p{color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding:5px;line-height:1.3;font:16px/18px;}
h2{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:20pt;font-weight:bold;padding:5px;line-height:1.7;text-align:left;}
h3{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:16pt;font-weight:bold;padding:5px;}
.content iframe{text-align:center;}
.content ul{padding-left:25px;width:auto;height:auto;padding:5px;padding-left:25px;}
.content ol{padding:5px 5px 5px 25px;}
.content ul li{list-style-image:url("img/dotted.png");color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding:3px;}
.content ol li::before{color:green;}
.content ol li{list-style-type:decimal;padding:3px;font-family:Tahoma Regular;font-size:12pt;text-align:justify;line-height:1.3;color:black;}
.place_digit_list_ul, .place_digit_list_ul_block{width:auto;height:auto;padding:5px;}
.place_digit_list_ul ol, .place_digit_list_ul_block ol{padding-left:25px;list-style:digits;color:green;}
.place_digit_list_ul ol li, .place_digit_list_ul_block ol li{color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding:3px;}
.place_video{width:auto;height:auto;padding:30px 30px 15px 30px;}
.video{width:620px;height:360px;background:url("img/video.png") no-repeat;}
.video_text{width:100%;height:auto;color:#333;text-decoration:none;font-family:Tahoma Regular;font-size:10pt;text-align:justify;font-style:italic;background:none repeat scroll 0% 0% #DFDFDF;padding:10px;margin:0 auto;}
.green_block{width:100%;height:auto;border:4px solid #007733;background:#e5f1ea;margin-top:10px;display:table;}
.red_block{width:100%;height:auto;border:4px solid rgb(119, 51, 51);background:none repeat scroll 0% 0% #F1EAEA;margin-top:10px;display:table;}
.yellow_block{width:100%;height:auto;background:none repeat scroll 0% 0% #FAFAEA;border:4px solid rgb(204, 204, 51);margin-top:10px;border-left:4px solid #CC3;display:table;}
.blue_block{width:100%;height:auto;border:4px solid rgb(0, 51, 119);background:none repeat scroll 0% 0% #E5EAF1;margin-top:10px;display:table;}
.img_place{padding:20px;}
.img_book{width:34px;height:29px;background:url("http://bf.lifeha.ru/wp-content/themes/business_factory/img/book.png") no-repeat;}
.img_place_warning{width:36px;height:36px;padding:20px;}
.img_warning{width:36px;height:36px;background:url("http://bf.lifeha.ru/wp-content/themes/business_factory/img/warning.png") no-repeat;}
.img_place_lamp{width:26px;height:36px;padding:20px;}
.img_lamp{width:26px;height:36px;background:url("http://bf.lifeha.ru/wp-content/themes/business_factory/img/lamp.png") no-repeat;}
.img_place_attention{width:36px;height:34px;padding:20px;}
.img_attention{width:36px;height:34px;background:url("http://bf.lifeha.ru/wp-content/themes/business_factory/img/attention.png") no-repeat;}
.text_block{width:auto;height:auto;color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding:5px;}
.bold{font-weight:bold;font-size:14pt;}
.article_h3_block{color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;font-weight:bold;padding:5px;}
.text_place_block{height:auto;padding:5px 5px 5px 25px;width:85%;text-align:justify;}
.place_list_ul_block{width:auto;height:auto;padding:5px;}
.place_list_ul_block ul{padding-left:25px;}
.place_list_ul_block ul li{list-style-image:url("img/dotted_gray.png");color:#000000;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding:3px;}
.share_place{width:auto;padding:10px;}
.share{width:auto;height:25px;}
.right_text{text-align:right;}
.left_text{text-align:left;}
.share_text{color:#777777;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;}
.share_img_place{width:269px;height:24px;padding:0px 5px 0px 5px;}
.share_img{width:269px;height:24px;background:url("img/social_icons.png") no-repeat;cursor:pointer;}
.prev_place,.next_place{width:50%;}
.prev_next_place{width:auto;height:90px;padding:5px;}
.prev_next_title{color:green;text-decoration:none;font-family:Tahoma Regular;font-size:18pt;font-weight:bold;}
.b-share{margin-top:-3px !important;}
.prev_next_al{width:auto;height:auto;padding:5px;text-align:left;font-size:16px;padding:10px;}
.prev_next_al a{color:#777777;text-decoration:none;cursor:pointer;}
.prev_next_al a:hover{color:green;text-decoration:underline;cursor:pointer;}
.prev_next_al span{width:8px;height:7px;padding:3px;}
.prev_next_ar span{width:8px;height:7px;padding:3px;}
.prev_next_ar{width:auto;height:auto;padding:10px;text-align:right;font-size:14px;}
.prev_next_ar a{color:#777777;text-decoration:none;cursor:pointer;}
.prev_next_ar a:hover{color:green;text-decoration:underline;cursor:pointer;}
.entry{width:auto;height:auto;padding:10px;}
.entry_title{width:auto;height:auto;padding:10px;color:#007733;text-decoration:none;font-family:Tahoma Regular;font-size:14pt;text-align:justify;font-weight:bold;}
.entry_title a{width:auto;height:auto;color:#007733;text-decoration:none;font-family:Tahoma Regular;font-size:20pt;text-align:justify;font-weight:bold;line-height:1.2;}
.entry_title a:hover{text-decoration:underline;}
.entry_content{width:auto;height:auto;padding:5px;}
.entry_img_place1{padding:10px;position:relative;border:1px solid gray;}
.entry_img1{width:220px;height:198px;background:url("img/entry1.png") no-repeat;}
.entry_img_place2{width:220px;height:220px;padding:20px;position:relative;}
.entry_img2{width:220px;height:220px;background:url("img/entry2.png") no-repeat;}
.entry_img_place3{width:220px;height:144px;padding:20px;position:relative;}
.entry_img3{width:220px;height:144px;background:url("img/entry3.png") no-repeat;}
.entry_img_place4{width:220px;height:146px;padding:20px;position:relative;}
.entry_img4{width:220px;height:146px;background:url("img/entry4.png") no-repeat;}
.entry_img_place5{width:220px;height:149px;padding:20px;position:relative;}
.entry_img5{width:220px;height:149px;background:url("img/entry5.png") no-repeat;}
.entry_img_place6{width:220px;height:124px;padding:20px;position:relative;}
.entry_img6{width:220px;height:124px;background:url("img/entry6.png") no-repeat;}
.entry_img_place7{width:220px;height:147px;padding:20px;position:relative;}
.entry_img7{width:220px;height:147px;background:url("img/entry7.png") no-repeat;}
.entry_img_place8{width:220px;height:146px;padding:20px;position:relative;}
.entry_img8{width:220px;height:146px;background:url("img/entry8.png") no-repeat;}
.entry_img_place9{width:220px;height:124px;padding:20px;position:relative;}
.entry_img9{width:220px;height:124px;background:url("img/entry9.png") no-repeat;}
.entry_img_place10{width:220px;height:143px;padding:20px;position:relative;}
.entry_img10{width:220px;height:143px;background:url("img/entry10.png") no-repeat;}
.entry_text_place{height:auto;text-align:justify;position:relative;}
.entry_text{width:400px;height:auto;text-align:justify;padding:10px;}
.entry_content tr td{vertical-align:middle;}
.section{width:auto;height:auto;padding-bottom:10px;}
.entry_link a{color:#777777;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;}
.entry_link{color:#777777;text-decoration:none;font-family:Tahoma Regular;font-size:12pt;text-align:justify;padding-left:15px;}
.entry_link a:hover{color:green;text-decoration:underline;font-family:Tahoma Regular;font-size:12pt;text-align:justify;}
.logo_img{width:270px;height:42px;background:url("img/logo.png") no-repeat;}
.place_shop{width:100%;height:auto;padding:5px;}
.place_shop_level{width:100%;height:auto;display:table;}
.place_shop_item{float:left;width:33%;height:auto;text-align:center;display:table-cell;cursor:pointer;}
.place_shop_item_img{width:auto;height:auto;}
.place_shop_item_theme{padding-top:10px;padding-right:10px;padding-left:10px;padding-bottom:10px;}
.place_shop_item_theme a{font-size:14px;color:#073;text-decoration:none;cursor:pointer;font-weight:bold;}
.place_shop_item_theme a:hover{font-size:14px;color:#073;text-decoration:underline;cursor:pointer;font-weight:bold;}
.place_shop_item_info{padding-left:20px;padding-right:20px;text-align:justify;}
.place_shop h2{font-size:18px;font-weight:bold;padding:5px;padding-bottom:45px;text-align:center;}
.entry-title{display:none;}
.recommended_article_links li a{font-size:16px;padding:5px;font-family:Tahoma Regular;}
.recommended_article_links a:last-child{padding:5px !important;}
.right-sidebar h1{width:auto;color:#073;font-family:Tahoma Regular;font-size:20pt;padding-top:10px;text-align:center;font-weight:normal !important;}
.catalog_content1 table tbody tr td a{color:#777;}
.catalog_content1 table tbody tr:hover td a{color:white;}
.recommended_article_links ul{list-style:outside none none !important;padding:5px 5px 10px !important;font-size:16px !important;line-height:1.1 !important;border-left:1px solid #808080 !important;}
.list_sideabar{padding-bottom:10px;font-size:16px;line-height:1.1;list-style:none;}
.list_sideabar li a{padding:5px;padding-left:25px;display:block;color:#777;font-family:Tahoma Regular;text-decoration:none;font-size:11pt !important;}
.list_sideabar li a:hover{padding:5px;padding-left:25px;text-decoration:none;background:#009A42;color:white;}
.list_sideabar li{padding:1px;color:black;font-size:11pt !important;font-family:Tahoma Regular;}
.breadcrumb_last, #breadcrumbs  span a{
	color: #777777;
	text-decoration: underline;
	font-family: Tahoma Regular;
	font-size: 11pt;
}
#breadcrumbs  span a:hover{
	color: green;
	text-decoration: none;
	font-family: Tahoma Regular;
	font-size: 11pt;
}
.place_shop_item_books {
	width:293px;
	height:auto;
	text-align:center;
	display:table-cell;
	cursor:pointer;
}
.place_shop_item_img {
	width:auto;
	height:auto;
}
.place_shop_item_theme {
	padding:10px;
}
.place_shop_item_theme a {
	font-size:14px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	font-weight:700;
}
.place_shop_item_theme a:hover {
	font-size:14px;
	color:#3caaff;
	text-decoration:underline;
	cursor:pointer;
	font-weight:700;
}
.place_shop_item_info {
	padding-left:20px;
	padding-right:20px;
	text-align:center;
	font-size: 14px;
}
.siteMap ul li {
	list-style: none !important;
}
.siteMap ul li a {
	color: #777;
}
.siteMap ul li a:hover {
	color: #009A42;
}
.materials_text span, .free_courses_text span{
	color: #777;
}
.materials_item:hover .materials_text span, .free_courses_item:hover .free_courses_text span {
	color: #094;
	text-decoration: underline;
}